interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.reddit.com/r/LocalLLaMA/hot.json?limit=5
  response:
    body:
      string: '{"kind": "Listing", "data": {"after": "t3_1s1z17h", "dist": 5, "modhash":
        "", "geo_filter": null, "children": [{"kind": "t3", "data": {"approved_at_utc":
        null, "subreddit": "LocalLLaMA", "selftext": "INVITE: https://discord.gg/rC922KfEwj\n\nThere
        used to be one old discord server for the subreddit but it was deleted by
        the previous mod.\n\nWhy?\nThe subreddit has grown to 500k users - inevitably,
        some users like a niche community with more technical discussion and fewer
        memes (even if relevant).\n\nWe have a discord bot to test out open source
        models.\n\nBetter contest and events organization.\n\nBest for quick questions
        or showcasing your rig!", "author_fullname": "t2_gi7a36v6", "saved": false,
        "mod_reason_title": null, "gilded": 0, "clicked": false, "is_gallery": true,
        "title": "Announcing LocalLlama discord server &amp; bot!", "link_flair_richtext":
        [{"e": "text", "t": "News"}], "subreddit_name_prefixed": "r/LocalLLaMA", "hidden":
        false, "pwls": 6, "link_flair_css_class": "", "downs": 0, "thumbnail_height":
        104, "top_awarded_type": null, "hide_score": false, "media_metadata": {"9m1syl7kdvif1":
        {"status": "valid", "e": "Image", "m": "image/png", "p": [{"y": 122, "x":
        108, "u": "https://preview.redd.it/9m1syl7kdvif1.png?width=108&amp;crop=smart&amp;auto=webp&amp;s=f5e0a069d53875bb66210e26decae608a86b9995"},
        {"y": 245, "x": 216, "u": "https://preview.redd.it/9m1syl7kdvif1.png?width=216&amp;crop=smart&amp;auto=webp&amp;s=9572c23dd2548d55eae385090ba462c5513e74bf"},
        {"y": 364, "x": 320, "u": "https://preview.redd.it/9m1syl7kdvif1.png?width=320&amp;crop=smart&amp;auto=webp&amp;s=115d61af9ebbebd95fb9bb0f0700d90bf98d4bbb"},
        {"y": 728, "x": 640, "u": "https://preview.redd.it/9m1syl7kdvif1.png?width=640&amp;crop=smart&amp;auto=webp&amp;s=bc6c15bcdb135d8fe4457505677deeb82836a57c"},
        {"y": 1093, "x": 960, "u": "https://preview.redd.it/9m1syl7kdvif1.png?width=960&amp;crop=smart&amp;auto=webp&amp;s=9ac0fcdf9bd1cb683f9b712691c6fe94524a653b"},
        {"y": 1229, "x": 1080, "u": "https://preview.redd.it/9m1syl7kdvif1.png?width=1080&amp;crop=smart&amp;auto=webp&amp;s=de7139bab6a7ac44cc1611705e34a6cc1d3fe65b"}],
        "s": {"y": 1510, "x": 1326, "u": "https://preview.redd.it/9m1syl7kdvif1.png?width=1326&amp;format=png&amp;auto=webp&amp;s=1a14d93c73d28919aab74bce1d3f7687aeea50f1"},
        "id": "9m1syl7kdvif1"}, "lqxydhkjdvif1": {"status": "valid", "e": "Image",
        "m": "image/png", "p": [{"y": 80, "x": 108, "u": "https://preview.redd.it/lqxydhkjdvif1.png?width=108&amp;crop=smart&amp;auto=webp&amp;s=2f9ea785ed54571d1e00caadc049d3dbdd3f90f8"},
        {"y": 161, "x": 216, "u": "https://preview.redd.it/lqxydhkjdvif1.png?width=216&amp;crop=smart&amp;auto=webp&amp;s=eeeb9f02addcae04f13ab9d931534a59599fea9c"},
        {"y": 238, "x": 320, "u": "https://preview.redd.it/lqxydhkjdvif1.png?width=320&amp;crop=smart&amp;auto=webp&amp;s=b1f2247db2c2827fb130487a15f9a60562afa1a6"},
        {"y": 477, "x": 640, "u": "https://preview.redd.it/lqxydhkjdvif1.png?width=640&amp;crop=smart&amp;auto=webp&amp;s=a5800e3c54e96eb399ae8ec3ee249546d9d1920d"},
        {"y": 716, "x": 960, "u": "https://preview.redd.it/lqxydhkjdvif1.png?width=960&amp;crop=smart&amp;auto=webp&amp;s=033c36ecc55fab354b1e14f39bd9a446b9e00a51"},
        {"y": 805, "x": 1080, "u": "https://preview.redd.it/lqxydhkjdvif1.png?width=1080&amp;crop=smart&amp;auto=webp&amp;s=f47b84e79d5d7a5e574c0ca75cbdccf1cf34d1a4"}],
        "s": {"y": 970, "x": 1300, "u": "https://preview.redd.it/lqxydhkjdvif1.png?width=1300&amp;format=png&amp;auto=webp&amp;s=f0d771ecfc252112ba94c079e2ca11dbb8a92d75"},
        "id": "lqxydhkjdvif1"}}, "name": "t3_1mpk2va", "quarantine": false, "link_flair_text_color":
        "light", "upvote_ratio": 0.85, "author_flair_background_color": "transparent",
        "ups": 141, "domain": "reddit.com", "media_embed": {}, "thumbnail_width":
        140, "author_flair_template_id": "c07aa42e-51fe-11f0-afcc-462aad931709", "is_original_content":
        false, "user_reports": [], "secure_media": null, "is_reddit_media_domain":
        false, "is_meta": false, "category": null, "secure_media_embed": {}, "gallery_data":
        {"items": [{"media_id": "lqxydhkjdvif1", "id": 727971310}, {"media_id": "9m1syl7kdvif1",
        "id": 727971311}]}, "link_flair_text": "News", "can_mod_post": false, "score":
        141, "approved_by": null, "is_created_from_ads_ui": false, "author_premium":
        false, "thumbnail": "https://b.thumbs.redditmedia.com/QBscWhXGvo8sy9oNNt-7et1ByOGRWY1UckDAudAWACM.jpg",
        "edited": false, "author_flair_css_class": null, "author_flair_richtext":
        [{"a": ":X:", "e": "emoji", "u": "https://emoji.redditmedia.com/tbgegafk739f1_t5_81eyvm/X"},
        {"e": "text", "t": " Sorcerer Supreme"}], "gildings": {}, "content_categories":
        null, "is_self": false, "subreddit_type": "public", "created": 1755127265.0,
        "link_flair_type": "richtext", "wls": 6, "removed_by_category": null, "banned_by":
        null, "author_flair_type": "richtext", "total_awards_received": 0, "allow_live_comments":
        false, "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;INVITE:
        &lt;a href=\"https://discord.gg/rC922KfEwj\"&gt;https://discord.gg/rC922KfEwj&lt;/a&gt;&lt;/p&gt;\n\n&lt;p&gt;There
        used to be one old discord server for the subreddit but it was deleted by
        the previous mod.&lt;/p&gt;\n\n&lt;p&gt;Why?\nThe subreddit has grown to 500k
        users - inevitably, some users like a niche community with more technical
        discussion and fewer memes (even if relevant).&lt;/p&gt;\n\n&lt;p&gt;We have
        a discord bot to test out open source models.&lt;/p&gt;\n\n&lt;p&gt;Better
        contest and events organization.&lt;/p&gt;\n\n&lt;p&gt;Best for quick questions
        or showcasing your rig!&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;", "likes":
        null, "suggested_sort": null, "banned_at_utc": null, "url_overridden_by_dest":
        "https://www.reddit.com/gallery/1mpk2va", "view_count": null, "archived":
        false, "no_follow": false, "is_crosspostable": false, "pinned": false, "over_18":
        false, "all_awardings": [], "awarders": [], "media_only": false, "link_flair_template_id":
        "f8cc0dfe-c1eb-11ed-8d79-72bc34fff7d9", "can_gild": false, "spoiler": false,
        "locked": false, "author_flair_text": ":X: Sorcerer Supreme", "treatment_tags":
        [], "visited": false, "removed_by": null, "mod_note": null, "distinguished":
        "moderator", "subreddit_id": "t5_81eyvm", "author_is_blocked": false, "mod_reason_by":
        null, "num_reports": null, "removal_reason": null, "link_flair_background_color":
        "#cc3600", "id": "1mpk2va", "is_robot_indexable": true, "report_reasons":
        null, "author": "HOLUPREDICTIONS", "discussion_type": null, "num_comments":
        78, "send_replies": true, "contest_mode": false, "mod_reports": [], "author_patreon_flair":
        false, "author_flair_text_color": "dark", "permalink": "/r/LocalLLaMA/comments/1mpk2va/announcing_localllama_discord_server_bot/",
        "stickied": true, "url": "https://www.reddit.com/gallery/1mpk2va", "subreddit_subscribers":
        661054, "created_utc": 1755127265.0, "num_crossposts": 0, "media": null, "is_video":
        false}}, {"kind": "t3", "data": {"approved_at_utc": null, "subreddit": "LocalLLaMA",
        "selftext": "So, I''ve had my H100s grind for you all, and have some interesting
        new results AND fresh models!\n\nSo, what did I find?  Well because my blog
        article are too damn long (*I know some of you are not reading the whole thing...*),
        here is a **TL;DR**:\n\n1. I found that LLMs seem to *think in a universal
        language*.  During the middle layers, the models [...]
