interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search?tags=front_page&hitsPerPage=10
  response:
    body:
      string: '{"exhaustive":{"nbHits":true,"typo":true},"exhaustiveNbHits":true,"exhaustiveTypo":true,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"anemll"},"story_text":{"matchLevel":"none","matchedWords":[],"value":"<a
        href=\"https://xcancel.com/anemll/status/2035901335984611412\" rel=\"nofollow\">https://xcancel.com/anemll/status/2035901335984611412</a>"},"title":{"matchLevel":"none","matchedWords":[],"value":"iPhone
        17 Pro Demonstrated Running a 400B LLM"},"url":{"matchLevel":"none","matchedWords":[],"value":"https://twitter.com/anemll/status/2035901335984611412"}},"_tags":["story","author_anemll","story_47490070","front_page"],"author":"anemll","children":[47490071,47490422,47490431,47490489,47490576,47490732,47490781,47490865,47490982,47491138,47491718,47491963,47492518,47492561,47492564,47492827,47492957,47492961,47492962,47493034,47493128,47493190,47493205,47493222,47493599,47493785,47493863,47494329,47494385,47494432,47494658,47494840,47494952,47494973,47495017,47495552,47495769,47495809,47495925,47495998,47496808,47497007,47497281,47497523,47498042,47498155,47498585,47498658,47498853],"created_at":"2026-03-23T14:30:10Z","created_at_i":1774276210,"num_comments":262,"objectID":"47490070","points":569,"story_id":47490070,"story_text":"<a
        href=\"https:&#x2F;&#x2F;xcancel.com&#x2F;anemll&#x2F;status&#x2F;2035901335984611412\"
        rel=\"nofollow\">https:&#x2F;&#x2F;xcancel.com&#x2F;anemll&#x2F;status&#x2F;2035901335984611412</a>","title":"iPhone
        17 Pro Demonstrated Running a 400B LLM","updated_at":"2026-03-24T07:07:24Z","url":"https://twitter.com/anemll/status/2035901335984611412"},{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"ykumards"},"title":{"matchLevel":"none","matchedWords":[],"value":"Autoresearch
        on an old research idea"},"url":{"matchLevel":"none","matchedWords":[],"value":"https://ykumar.me/blog/eclip-autoresearch/"}},"_tags":["story","author_ykumards","story_47493460","front_page"],"author":"ykumards","children":[47493841,47493869,474938[...]
