interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nytimes.com/svc/topstories/v2/technology.json
  response:
    body:
      string: "{\"status\":\"OK\",\"copyright\":\"Copyright (c) 2026 The New York
        Times Company. All Rights Reserved.\",\"section\":\"Technology\",\"last_updated\":\"2026-03-20T14:34:39-04:00\",\"num_results\":29,\"results\":[{\"section\":\"technology\",\"subsection\":\"\",\"title\":\"More!
        More! More! Tech Workers Max Out Their A.I. Use.\",\"abstract\":\"At a number
        of companies, employees compete on leaderboards to show how much A.I. they\u2019re
        using. They\u2019re racking up big bills along the way.\",\"url\":\"https://www.nytimes.com/2026/03/20/technology/tokenmaxxing-ai-agents.html\",\"uri\":\"nyt://article/1ae05f13-6371-5a7b-8e38-af79b7effa52\",\"byline\":\"By
        Kevin Roose\",\"item_type\":\"Article\",\"updated_date\":\"2026-03-21T13:47:04-04:00\",\"created_date\":\"2026-03-20T11:55:35-04:00\",\"published_date\":\"2026-03-20T11:55:35-04:00\",\"material_type_facet\":\"\",\"kicker\":\"The
        Shift\",\"des_facet\":[\"Artificial Intelligence\",\"Productivity\",\"Computers
        and the Internet\",\"Open-Source Software\"],\"org_facet\":[\"OpenAI Labs\",\"Anthropic
        AI LLC\",\"Figma Inc\",\"Mechanize AI\"],\"per_facet\":[],\"geo_facet\":[],\"multimedia\":[{\"url\":\"https://static01.nyt.com/images/2026/03/20/business/20biz-roose/20biz-roose-superJumbo.jpg\",\"format\":\"Super
        Jumbo\",\"height\":2048,\"width\":1366,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"\",\"copyright\":\"Erik
        Carter\"},{\"url\":\"https://static01.nyt.com/images/2026/03/20/business/20biz-roose/20biz-roose-threeByTwoSmallAt2X.jpg\",\"format\":\"threeByTwoSmallAt2X\",\"height\":400,\"width\":600,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"\",\"copyright\":\"Erik
        Carter\"},{\"url\":\"https://static01.nyt.com/images/2026/03/20/business/20biz-roose/20biz-roose-thumbLarge.jpg\",\"format\":\"Large
        Thumbnail\",\"height\":150,\"width\":150,\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"\",\"copyright\":\"Erik
        Carter\"}],\"short_url\":\"\"},{\"section\":\"technology\",\"subsection\":\"\",\"title\":\"Polymarket
        Says It Predicts the Truth. Its Social Feeds Are Filled With Falsehoods.\",\"abstract\":\"A
        review of the betting market\u2019s social media feeds found it has published
        hundreds of false and misleading posts.\",\"url\":\"https://www.nytimes.com/2026/03/20/technology/polymarket-social-feeds-falsehoods.html\",\"uri\":\"nyt://article/b0e7b8f2-e2e9-53ba-8558-cb5d1d7fcdf4\",\"byline\":\"By
        St[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nytimes.com/svc/mostpopular/v2/shared/7.json
  response:
    body:
      string: "{\"status\":\"OK\",\"copyright\":\"Copyright (c) 2026 The New York
        Times Company.  All Rights Reserved.\",\"num_results\":20,\"results\":[{\"uri\":\"nyt://article/6fea14ec-f9ab-5707-b57b-a87782c3b281\",\"url\":\"https://www.nytimes.com/2026/03/12/us/politics/trump-epstein-statue-titanic-national-mall.html\",\"id\":100000010767881,\"asset_id\":100000010767881,\"source\":\"New
        York Times\",\"published_date\":\"2026-03-12\",\"updated\":\"2026-03-12 17:28:22\",\"section\":\"U.S.\",\"subsection\":\"Politics\",\"nytdsection\":\"u.s.\",\"adx_keywords\":\"United
        States Politics and Government;Epstein, Jeffrey E (1953- );Trump, Donald J;National
        Park Service;Washington (DC)\",\"column\":null,\"byline\":\"By Ashley Ahn\",\"type\":\"Article\",\"title\":\"A
        Statue of Trump and Epstein Re-enacting \u2018Titanic\u2019 Pose Appears on
        National Mall\",\"abstract\":\"The installation is the latest in a series
        of satirical statues created by an anonymous group of artists called the Secret
        Handshake.\",\"des_facet\":[\"United States Politics and Government\"],\"org_facet\":[\"National
        Park Service\"],\"per_facet\":[\"Epstein, Jeffrey E (1953- )\",\"Trump, Donald
        J\"],\"geo_facet\":[\"Washington (DC)\"],\"media\":[{\"type\":\"image\",\"subtype\":\"photo\",\"caption\":\"A
        statue titled \u201CThe King of the World\u201D depicting President Trump
        and Jeffrey Epstein. \",\"copyright\":\"Evelyn Hockstein/Reuters\",\"approved_for_syndication\":1,\"media-metadata\":[{\"url\":\"https://static01.nyt.com/images/2026/03/11/multimedia/11trump-news-titanic-statue-wjqv/11trump-news-titanic-statue-wjqv-thumbStandard.jpg\",\"format\":\"Standard
        Thumbnail\",\"height\":75,\"width\":75},{\"url\":\"https://static01.nyt.com/images/2026/03/11/multimedia/11trump-news-titanic-statue-wjqv/11trump-news-titanic-statue-wjqv-mediumThreeByTwo210.jpg\",\"format\":\"mediumThreeByTwo210\",\"height\":140,\"width\":210},{\"url\":\"https://static01.nyt.com/images/2026/03/11/multimedia/11trump-news-titanic-statue-wjqv/11trump-news-titanic-statue-wjqv-mediumThreeByTwo440.jpg\",\"format\":\"mediumThreeByTwo440\",\"height\":293,\"width\":440}]}],\"eta_id\":0},{\"uri\":\"nyt://article/34264fb5-c6fd-5878-a5fd-94a50bd50e2d\",\"url\":\"https://www.nytimes.com/2026/03/15/us/politics/farm-labor-trump-migrant-workers-h2a.html\",\"id\":100000010695653,\"asset_id\":100000010695653,\"source\":\"New
        York Times\",\"published_date\":\"2026-03-15\",\"updated\":\"2026-03-16 11:28:22\",\"section\":\"U.S.\",\"subsection\":\"Politics\",\"nytdsection\":\"u.s.\",\"adx_keywords\":\"Agriculture
        and Farming;Migrant Labor (Agriculture);Labor and Jobs;Shor[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nytimes.com/svc/topstories/v2/technology.json
  response:
    body:
      string: '{"fault":{"faultstring":"Invalid ApiKey","detail":{"errorcode":"oauth.v2.InvalidApiKey"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nytimes.com/svc/mostpopular/v2/shared/7.json
  response:
    body:
      string: '{"fault":{"faultstring":"Invalid ApiKey","detail":{"errorcode":"oauth.v2.InvalidApiKey"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
