interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://xkcd.com/info.0.json
  response:
    body:
      string: '{"month": "3", "num": 3223, "link": "", "year": "2026", "news": "",
        "safe_title": "Inflation Timeline", "transcript": "", "alt": "Depending what
        corners of the internet you hang out on, ''regular'' may at times awkwardly
        coexist with ''sexy.''", "img": "https://imgs.xkcd.com/comics/inflation_timeline.png",
        "title": "Inflation Timeline", "day": "23"}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"69c18650-15b"'
    status:
      code: 200
      message: OK
version: 1
