interactions:
- request:
    body: null
    headers:
      A-Im:
      - feed
    method: GET
    uri: https://feeds.simplecast.com/tti9gUEk
  response:
    body:
      string: '<html>

        <head><title>404 Not Found</title></head>

        <body>

        <h1>404 Not Found</h1>

        <ul>

        <li>Code: NoSuchKey</li>

        <li>Message: The specified key does not exist.</li>

        <li>Key: prod/rss/tti9gUEk</li>

        <li>RequestId: CKWC72GSB62FJ5X6</li>

        <li>HostId: O9XbP0zipLvm+z60+q97JD7/y2meaTwHpWgYPhnenPP/K+I438xcavU3HNGZ/OvPngWpEoeakQY=</li>

        </ul>

        <hr/>

        </body>

        </html>

        '
    headers:
      Content-Type:
      - text/html; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
